version: '3'
services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"

  nginx:
    build: ./nginx
    container_name: nginx-proxy
    ports:
      - "8081:80"
    depends_on:
      - backend
